output/CovidFAQ/evaluation/softmax_hard_faq_1.1/test.csv
output/CovidFAQ/evaluation/softmax_hard_faq_1.1/train.csv
output/CovidFAQ/evaluation/softmax_hard_faq_1.1/val.csv
output/CovidFAQ/evaluation/softmax_hard_user_query_1.1/test.csv
output/CovidFAQ/evaluation/softmax_hard_user_query_1.1/train.csv
output/CovidFAQ/evaluation/softmax_hard_user_query_1.1/val.csv
output/CovidFAQ/evaluation/softmax_simple_faq_1.1/test.csv
output/CovidFAQ/evaluation/softmax_simple_faq_1.1/train.csv
output/CovidFAQ/evaluation/softmax_simple_faq_1.1/val.csv
output/CovidFAQ/evaluation/softmax_simple_user_query_1.1/test.csv
output/CovidFAQ/evaluation/softmax_simple_user_query_1.1/train.csv
output/CovidFAQ/evaluation/softmax_simple_user_query_1.1/val.csv
output/CovidFAQ/evaluation/triplet_hard_faq_1.1/test.csv
output/CovidFAQ/evaluation/triplet_hard_faq_1.1/train.csv
output/CovidFAQ/evaluation/triplet_hard_faq_1.1/val.csv
output/CovidFAQ/evaluation/triplet_hard_user_query_1.1/test.csv
output/CovidFAQ/evaluation/triplet_hard_user_query_1.1/train.csv
output/CovidFAQ/evaluation/triplet_hard_user_query_1.1/val.csv
output/CovidFAQ/evaluation/triplet_simple_faq_1.1/test.csv
output/CovidFAQ/evaluation/triplet_simple_faq_1.1/train.csv
output/CovidFAQ/evaluation/triplet_simple_faq_1.1/val.csv
output/CovidFAQ/evaluation/triplet_simple_user_query_1.1/test.csv
output/CovidFAQ/evaluation/triplet_simple_user_query_1.1/train.csv
output/CovidFAQ/evaluation/triplet_simple_user_query_1.1/val.csv
output/CovidFAQ/models/softmax_hard_faq_1.1/CEBinaryClassificationEvaluator_results.csv
output/CovidFAQ/models/softmax_hard_faq_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/CovidFAQ/models/softmax_hard_faq_1.1/config.json
output/CovidFAQ/models/softmax_hard_faq_1.1/pytorch_model.bin
output/CovidFAQ/models/softmax_hard_faq_1.1/special_tokens_map.json
output/CovidFAQ/models/softmax_hard_faq_1.1/tokenizer_config.json
output/CovidFAQ/models/softmax_hard_faq_1.1/vocab.txt
output/CovidFAQ/models/softmax_hard_user_query_1.1/CEBinaryClassificationEvaluator_results.csv
output/CovidFAQ/models/softmax_hard_user_query_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/CovidFAQ/models/softmax_hard_user_query_1.1/config.json
output/CovidFAQ/models/softmax_hard_user_query_1.1/pytorch_model.bin
output/CovidFAQ/models/softmax_hard_user_query_1.1/special_tokens_map.json
output/CovidFAQ/models/softmax_hard_user_query_1.1/tokenizer_config.json
output/CovidFAQ/models/softmax_hard_user_query_1.1/vocab.txt
output/CovidFAQ/models/softmax_simple_faq_1.1/CEBinaryClassificationEvaluator_results.csv
output/CovidFAQ/models/softmax_simple_faq_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/CovidFAQ/models/softmax_simple_faq_1.1/config.json
output/CovidFAQ/models/softmax_simple_faq_1.1/pytorch_model.bin
output/CovidFAQ/models/softmax_simple_faq_1.1/special_tokens_map.json
output/CovidFAQ/models/softmax_simple_faq_1.1/tokenizer_config.json
output/CovidFAQ/models/softmax_simple_faq_1.1/vocab.txt
output/CovidFAQ/models/softmax_simple_user_query_1.1/CEBinaryClassificationEvaluator_results.csv
output/CovidFAQ/models/softmax_simple_user_query_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/CovidFAQ/models/softmax_simple_user_query_1.1/config.json
output/CovidFAQ/models/softmax_simple_user_query_1.1/pytorch_model.bin
output/CovidFAQ/models/softmax_simple_user_query_1.1/special_tokens_map.json
output/CovidFAQ/models/softmax_simple_user_query_1.1/tokenizer_config.json
output/CovidFAQ/models/softmax_simple_user_query_1.1/vocab.txt
output/CovidFAQ/models/triplet_hard_faq_1.1/.DS_Store
output/CovidFAQ/models/triplet_hard_faq_1.1/config.json
output/CovidFAQ/models/triplet_hard_faq_1.1/modules.json
output/CovidFAQ/models/triplet_hard_faq_1.1/triplet_evaluation_test_results.csv
output/CovidFAQ/models/triplet_hard_faq_1.1/triplet_evaluation_val_results.csv
output/CovidFAQ/models/triplet_hard_faq_1.1/0_BERT/config.json
output/CovidFAQ/models/triplet_hard_faq_1.1/0_BERT/pytorch_model.bin
output/CovidFAQ/models/triplet_hard_faq_1.1/0_BERT/sentence_bert_config.json
output/CovidFAQ/models/triplet_hard_faq_1.1/0_BERT/special_tokens_map.json
output/CovidFAQ/models/triplet_hard_faq_1.1/0_BERT/tokenizer_config.json
output/CovidFAQ/models/triplet_hard_faq_1.1/0_BERT/vocab.txt
output/CovidFAQ/models/triplet_hard_faq_1.1/1_Pooling/config.json
output/CovidFAQ/models/triplet_hard_user_query_1.1/.DS_Store
output/CovidFAQ/models/triplet_hard_user_query_1.1/config.json
output/CovidFAQ/models/triplet_hard_user_query_1.1/modules.json
output/CovidFAQ/models/triplet_hard_user_query_1.1/triplet_evaluation_test_results.csv
output/CovidFAQ/models/triplet_hard_user_query_1.1/triplet_evaluation_val_results.csv
output/CovidFAQ/models/triplet_hard_user_query_1.1/0_BERT/config.json
output/CovidFAQ/models/triplet_hard_user_query_1.1/0_BERT/pytorch_model.bin
output/CovidFAQ/models/triplet_hard_user_query_1.1/0_BERT/sentence_bert_config.json
output/CovidFAQ/models/triplet_hard_user_query_1.1/0_BERT/special_tokens_map.json
output/CovidFAQ/models/triplet_hard_user_query_1.1/0_BERT/tokenizer_config.json
output/CovidFAQ/models/triplet_hard_user_query_1.1/0_BERT/vocab.txt
output/CovidFAQ/models/triplet_hard_user_query_1.1/1_Pooling/config.json
output/CovidFAQ/models/triplet_simple_faq_1.1/.DS_Store
output/CovidFAQ/models/triplet_simple_faq_1.1/config.json
output/CovidFAQ/models/triplet_simple_faq_1.1/modules.json
output/CovidFAQ/models/triplet_simple_faq_1.1/triplet_evaluation_test_results.csv
output/CovidFAQ/models/triplet_simple_faq_1.1/triplet_evaluation_val_results.csv
output/CovidFAQ/models/triplet_simple_faq_1.1/0_BERT/config.json
output/CovidFAQ/models/triplet_simple_faq_1.1/0_BERT/pytorch_model.bin
output/CovidFAQ/models/triplet_simple_faq_1.1/0_BERT/sentence_bert_config.json
output/CovidFAQ/models/triplet_simple_faq_1.1/0_BERT/special_tokens_map.json
output/CovidFAQ/models/triplet_simple_faq_1.1/0_BERT/tokenizer_config.json
output/CovidFAQ/models/triplet_simple_faq_1.1/0_BERT/vocab.txt
output/CovidFAQ/models/triplet_simple_faq_1.1/1_Pooling/config.json
output/CovidFAQ/models/triplet_simple_user_query_1.1/.DS_Store
output/CovidFAQ/models/triplet_simple_user_query_1.1/config.json
output/CovidFAQ/models/triplet_simple_user_query_1.1/modules.json
output/CovidFAQ/models/triplet_simple_user_query_1.1/triplet_evaluation_test_results.csv
output/CovidFAQ/models/triplet_simple_user_query_1.1/triplet_evaluation_val_results.csv
output/CovidFAQ/models/triplet_simple_user_query_1.1/0_BERT/config.json
output/CovidFAQ/models/triplet_simple_user_query_1.1/0_BERT/pytorch_model.bin
output/CovidFAQ/models/triplet_simple_user_query_1.1/0_BERT/sentence_bert_config.json
output/CovidFAQ/models/triplet_simple_user_query_1.1/0_BERT/special_tokens_map.json
output/CovidFAQ/models/triplet_simple_user_query_1.1/0_BERT/tokenizer_config.json
output/CovidFAQ/models/triplet_simple_user_query_1.1/0_BERT/vocab.txt
output/CovidFAQ/models/triplet_simple_user_query_1.1/1_Pooling/config.json
output/FAQIR/.DS_Store
output/FAQIR/evaluation/.DS_Store
output/FAQIR/evaluation/softmax_hard_faq_1.1/test.csv
output/FAQIR/evaluation/softmax_hard_faq_1.1/train.csv
output/FAQIR/evaluation/softmax_hard_faq_1.1/val.csv
output/FAQIR/evaluation/softmax_simple_faq_1.1/test.csv
output/FAQIR/evaluation/softmax_simple_faq_1.1/train.csv
output/FAQIR/evaluation/softmax_simple_faq_1.1/val.csv
output/FAQIR/evaluation/triplet_hard_faq_1.1/test.csv
output/FAQIR/evaluation/triplet_hard_faq_1.1/train.csv
output/FAQIR/evaluation/triplet_hard_faq_1.1/val.csv
output/FAQIR/evaluation/triplet_simple_faq_1.1/test.csv
output/FAQIR/evaluation/triplet_simple_faq_1.1/train.csv
output/FAQIR/evaluation/triplet_simple_faq_1.1/val.csv
output/FAQIR/models/.DS_Store
output/FAQIR/models/softmax_hard_faq_1.1/CEBinaryClassificationEvaluator_results.csv
output/FAQIR/models/softmax_hard_faq_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/FAQIR/models/softmax_hard_faq_1.1/config.json
output/FAQIR/models/softmax_hard_faq_1.1/pytorch_model.bin
output/FAQIR/models/softmax_hard_faq_1.1/special_tokens_map.json
output/FAQIR/models/softmax_hard_faq_1.1/tokenizer_config.json
output/FAQIR/models/softmax_hard_faq_1.1/vocab.txt
output/FAQIR/models/softmax_hard_user_query_1.1/CEBinaryClassificationEvaluator_results.csv
output/FAQIR/models/softmax_hard_user_query_1.1/config.json
output/FAQIR/models/softmax_hard_user_query_1.1/pytorch_model.bin
output/FAQIR/models/softmax_hard_user_query_1.1/special_tokens_map.json
output/FAQIR/models/softmax_hard_user_query_1.1/tokenizer_config.json
output/FAQIR/models/softmax_hard_user_query_1.1/vocab.txt
output/FAQIR/models/softmax_simple_faq_1.1/CEBinaryClassificationEvaluator_results.csv
output/FAQIR/models/softmax_simple_faq_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/FAQIR/models/softmax_simple_faq_1.1/config.json
output/FAQIR/models/softmax_simple_faq_1.1/pytorch_model.bin
output/FAQIR/models/softmax_simple_faq_1.1/special_tokens_map.json
output/FAQIR/models/softmax_simple_faq_1.1/tokenizer_config.json
output/FAQIR/models/softmax_simple_faq_1.1/vocab.txt
output/FAQIR/models/softmax_simple_user_query_1.1/CEBinaryClassificationEvaluator_results.csv
output/FAQIR/models/softmax_simple_user_query_1.1/config.json
output/FAQIR/models/softmax_simple_user_query_1.1/pytorch_model.bin
output/FAQIR/models/softmax_simple_user_query_1.1/special_tokens_map.json
output/FAQIR/models/softmax_simple_user_query_1.1/tokenizer_config.json
output/FAQIR/models/softmax_simple_user_query_1.1/vocab.txt
output/FAQIR/models/triplet_hard_faq_1.1/.DS_Store
output/FAQIR/models/triplet_hard_faq_1.1/config.json
output/FAQIR/models/triplet_hard_faq_1.1/modules.json
output/FAQIR/models/triplet_hard_faq_1.1/triplet_evaluation_test_results.csv
output/FAQIR/models/triplet_hard_faq_1.1/triplet_evaluation_val_results.csv
output/FAQIR/models/triplet_hard_faq_1.1/0_BERT/config.json
output/FAQIR/models/triplet_hard_faq_1.1/0_BERT/pytorch_model.bin
output/FAQIR/models/triplet_hard_faq_1.1/0_BERT/sentence_bert_config.json
output/FAQIR/models/triplet_hard_faq_1.1/0_BERT/special_tokens_map.json
output/FAQIR/models/triplet_hard_faq_1.1/0_BERT/tokenizer_config.json
output/FAQIR/models/triplet_hard_faq_1.1/0_BERT/vocab.txt
output/FAQIR/models/triplet_hard_faq_1.1/1_Pooling/config.json
output/FAQIR/models/triplet_hard_user_query_1.1/.DS_Store
output/FAQIR/models/triplet_hard_user_query_1.1/config.json
output/FAQIR/models/triplet_hard_user_query_1.1/modules.json
output/FAQIR/models/triplet_hard_user_query_1.1/triplet_evaluation_val_results.csv
output/FAQIR/models/triplet_hard_user_query_1.1/0_BERT/config.json
output/FAQIR/models/triplet_hard_user_query_1.1/0_BERT/pytorch_model.bin
output/FAQIR/models/triplet_hard_user_query_1.1/0_BERT/sentence_bert_config.json
output/FAQIR/models/triplet_hard_user_query_1.1/0_BERT/special_tokens_map.json
output/FAQIR/models/triplet_hard_user_query_1.1/0_BERT/tokenizer_config.json
output/FAQIR/models/triplet_hard_user_query_1.1/0_BERT/vocab.txt
output/FAQIR/models/triplet_hard_user_query_1.1/1_Pooling/config.json
output/FAQIR/models/triplet_simple_faq_1.1/.DS_Store
output/FAQIR/models/triplet_simple_faq_1.1/config.json
output/FAQIR/models/triplet_simple_faq_1.1/modules.json
output/FAQIR/models/triplet_simple_faq_1.1/triplet_evaluation_test_results.csv
output/FAQIR/models/triplet_simple_faq_1.1/triplet_evaluation_val_results.csv
output/FAQIR/models/triplet_simple_faq_1.1/0_BERT/config.json
output/FAQIR/models/triplet_simple_faq_1.1/0_BERT/pytorch_model.bin
output/FAQIR/models/triplet_simple_faq_1.1/0_BERT/sentence_bert_config.json
output/FAQIR/models/triplet_simple_faq_1.1/0_BERT/special_tokens_map.json
output/FAQIR/models/triplet_simple_faq_1.1/0_BERT/tokenizer_config.json
output/FAQIR/models/triplet_simple_faq_1.1/0_BERT/vocab.txt
output/FAQIR/models/triplet_simple_faq_1.1/1_Pooling/config.json
output/FAQIR/models/triplet_simple_user_query_1.1/config.json
output/FAQIR/models/triplet_simple_user_query_1.1/modules.json
output/FAQIR/models/triplet_simple_user_query_1.1/triplet_evaluation_val_results.csv
output/FAQIR/models/triplet_simple_user_query_1.1/0_Transformer/config.json
output/FAQIR/models/triplet_simple_user_query_1.1/0_Transformer/pytorch_model.bin
output/FAQIR/models/triplet_simple_user_query_1.1/0_Transformer/sentence_bert_config.json
output/FAQIR/models/triplet_simple_user_query_1.1/0_Transformer/special_tokens_map.json
output/FAQIR/models/triplet_simple_user_query_1.1/0_Transformer/tokenizer_config.json
output/FAQIR/models/triplet_simple_user_query_1.1/0_Transformer/vocab.txt
output/FAQIR/models/triplet_simple_user_query_1.1/1_Pooling/config.json
output/StackFAQ/.DS_Store
output/StackFAQ/evaluation/.DS_Store
output/StackFAQ/evaluation/softmax_hard_faq_1.1/test.csv
output/StackFAQ/evaluation/softmax_hard_faq_1.1/train.csv
output/StackFAQ/evaluation/softmax_hard_faq_1.1/val.csv
output/StackFAQ/evaluation/softmax_hard_user_query_1.1/test.csv
output/StackFAQ/evaluation/softmax_hard_user_query_1.1/train.csv
output/StackFAQ/evaluation/softmax_hard_user_query_1.1/val.csv
output/StackFAQ/evaluation/softmax_simple_faq_1.1/test.csv
output/StackFAQ/evaluation/softmax_simple_faq_1.1/train.csv
output/StackFAQ/evaluation/softmax_simple_faq_1.1/val.csv
output/StackFAQ/evaluation/softmax_simple_user_query_1.1/test.csv
output/StackFAQ/evaluation/softmax_simple_user_query_1.1/train.csv
output/StackFAQ/evaluation/softmax_simple_user_query_1.1/val.csv
output/StackFAQ/evaluation/triplet_hard_faq_1.1/test.csv
output/StackFAQ/evaluation/triplet_hard_faq_1.1/train.csv
output/StackFAQ/evaluation/triplet_hard_faq_1.1/val.csv
output/StackFAQ/evaluation/triplet_hard_user_query_1.1/test.csv
output/StackFAQ/evaluation/triplet_hard_user_query_1.1/train.csv
output/StackFAQ/evaluation/triplet_hard_user_query_1.1/val.csv
output/StackFAQ/evaluation/triplet_simple_faq_1.1/test.csv
output/StackFAQ/evaluation/triplet_simple_faq_1.1/train.csv
output/StackFAQ/evaluation/triplet_simple_faq_1.1/val.csv
output/StackFAQ/evaluation/triplet_simple_user_query_1.1/test.csv
output/StackFAQ/evaluation/triplet_simple_user_query_1.1/train.csv
output/StackFAQ/evaluation/triplet_simple_user_query_1.1/val.csv
output/StackFAQ/models/.DS_Store
output/StackFAQ/models/softmax_hard_faq_1.1/CEBinaryClassificationEvaluator_results.csv
output/StackFAQ/models/softmax_hard_faq_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/StackFAQ/models/softmax_hard_faq_1.1/config.json
output/StackFAQ/models/softmax_hard_faq_1.1/pytorch_model.bin
output/StackFAQ/models/softmax_hard_faq_1.1/special_tokens_map.json
output/StackFAQ/models/softmax_hard_faq_1.1/tokenizer_config.json
output/StackFAQ/models/softmax_hard_faq_1.1/vocab.txt
output/StackFAQ/models/softmax_hard_user_query_1.1/CEBinaryClassificationEvaluator_results.csv
output/StackFAQ/models/softmax_hard_user_query_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/StackFAQ/models/softmax_hard_user_query_1.1/config.json
output/StackFAQ/models/softmax_hard_user_query_1.1/pytorch_model.bin
output/StackFAQ/models/softmax_hard_user_query_1.1/special_tokens_map.json
output/StackFAQ/models/softmax_hard_user_query_1.1/tokenizer_config.json
output/StackFAQ/models/softmax_hard_user_query_1.1/vocab.txt
output/StackFAQ/models/softmax_simple_faq_1.1/CEBinaryClassificationEvaluator_results.csv
output/StackFAQ/models/softmax_simple_faq_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/StackFAQ/models/softmax_simple_faq_1.1/config.json
output/StackFAQ/models/softmax_simple_faq_1.1/pytorch_model.bin
output/StackFAQ/models/softmax_simple_faq_1.1/special_tokens_map.json
output/StackFAQ/models/softmax_simple_faq_1.1/tokenizer_config.json
output/StackFAQ/models/softmax_simple_faq_1.1/vocab.txt
output/StackFAQ/models/softmax_simple_user_query_1.1/CEBinaryClassificationEvaluator_results.csv
output/StackFAQ/models/softmax_simple_user_query_1.1/CEBinaryClassificationEvaluator_test_results.csv
output/StackFAQ/models/softmax_simple_user_query_1.1/config.json
output/StackFAQ/models/softmax_simple_user_query_1.1/pytorch_model.bin
output/StackFAQ/models/softmax_simple_user_query_1.1/special_tokens_map.json
output/StackFAQ/models/softmax_simple_user_query_1.1/tokenizer_config.json
output/StackFAQ/models/softmax_simple_user_query_1.1/vocab.txt
output/StackFAQ/models/triplet_hard_faq_1.1/.DS_Store
output/StackFAQ/models/triplet_hard_faq_1.1/config.json
output/StackFAQ/models/triplet_hard_faq_1.1/modules.json
output/StackFAQ/models/triplet_hard_faq_1.1/triplet_evaluation_test_results.csv
output/StackFAQ/models/triplet_hard_faq_1.1/triplet_evaluation_val_results.csv
output/StackFAQ/models/triplet_hard_faq_1.1/0_BERT/config.json
output/StackFAQ/models/triplet_hard_faq_1.1/0_BERT/pytorch_model.bin
output/StackFAQ/models/triplet_hard_faq_1.1/0_BERT/sentence_bert_config.json
output/StackFAQ/models/triplet_hard_faq_1.1/0_BERT/special_tokens_map.json
output/StackFAQ/models/triplet_hard_faq_1.1/0_BERT/tokenizer_config.json
output/StackFAQ/models/triplet_hard_faq_1.1/0_BERT/vocab.txt
output/StackFAQ/models/triplet_hard_faq_1.1/1_Pooling/config.json
output/StackFAQ/models/triplet_hard_user_query_1.1/.DS_Store
output/StackFAQ/models/triplet_hard_user_query_1.1/config.json
output/StackFAQ/models/triplet_hard_user_query_1.1/modules.json
output/StackFAQ/models/triplet_hard_user_query_1.1/triplet_evaluation_test_results.csv
output/StackFAQ/models/triplet_hard_user_query_1.1/triplet_evaluation_val_results.csv
output/StackFAQ/models/triplet_hard_user_query_1.1/0_BERT/config.json
output/StackFAQ/models/triplet_hard_user_query_1.1/0_BERT/pytorch_model.bin
output/StackFAQ/models/triplet_hard_user_query_1.1/0_BERT/sentence_bert_config.json
output/StackFAQ/models/triplet_hard_user_query_1.1/0_BERT/special_tokens_map.json
output/StackFAQ/models/triplet_hard_user_query_1.1/0_BERT/tokenizer_config.json
output/StackFAQ/models/triplet_hard_user_query_1.1/0_BERT/vocab.txt
output/StackFAQ/models/triplet_hard_user_query_1.1/1_Pooling/config.json
output/StackFAQ/models/triplet_simple_faq_1.1/.DS_Store
output/StackFAQ/models/triplet_simple_faq_1.1/config.json
output/StackFAQ/models/triplet_simple_faq_1.1/modules.json
output/StackFAQ/models/triplet_simple_faq_1.1/triplet_evaluation_test_results.csv
output/StackFAQ/models/triplet_simple_faq_1.1/triplet_evaluation_val_results.csv
output/StackFAQ/models/triplet_simple_faq_1.1/0_BERT/config.json
output/StackFAQ/models/triplet_simple_faq_1.1/0_BERT/pytorch_model.bin
output/StackFAQ/models/triplet_simple_faq_1.1/0_BERT/sentence_bert_config.json
output/StackFAQ/models/triplet_simple_faq_1.1/0_BERT/special_tokens_map.json
output/StackFAQ/models/triplet_simple_faq_1.1/0_BERT/tokenizer_config.json
output/StackFAQ/models/triplet_simple_faq_1.1/0_BERT/vocab.txt
output/StackFAQ/models/triplet_simple_faq_1.1/1_Pooling/config.json
output/StackFAQ/models/triplet_simple_user_query_1.1/.DS_Store
output/StackFAQ/models/triplet_simple_user_query_1.1/config.json
output/StackFAQ/models/triplet_simple_user_query_1.1/modules.json
output/StackFAQ/models/triplet_simple_user_query_1.1/triplet_evaluation_test_results.csv
output/StackFAQ/models/triplet_simple_user_query_1.1/triplet_evaluation_val_results.csv
output/StackFAQ/models/triplet_simple_user_query_1.1/0_BERT/config.json
output/StackFAQ/models/triplet_simple_user_query_1.1/0_BERT/pytorch_model.bin
output/StackFAQ/models/triplet_simple_user_query_1.1/0_BERT/sentence_bert_config.json
output/StackFAQ/models/triplet_simple_user_query_1.1/0_BERT/special_tokens_map.json
output/StackFAQ/models/triplet_simple_user_query_1.1/0_BERT/tokenizer_config.json
output/StackFAQ/models/triplet_simple_user_query_1.1/0_BERT/vocab.txt
output/StackFAQ/models/triplet_simple_user_query_1.1/1_Pooling/config.json
shared/__pycache__/__init__.cpython-39.pyc
shared/__pycache__/utils.cpython-39.pyc
__pycache__/evaluation.cpython-39.pyc
__pycache__/faq_bert_ranker.cpython-39.pyc
__pycache__/faq_bert.cpython-39.pyc
__pycache__/metric.cpython-39.pyc
__pycache__/searcher.cpython-39.pyc
output/.DS_Store
output/CovidFAQ/.DS_Store
output/CovidFAQ/evaluation/.DS_Store
output/CovidFAQ/models/.DS_Store
.DS_Store
